version: '3.8'

services:
  mlflow-server:
    image: ghcr.io/mlflow/mlflow:v3.6.0
    command: mlflow server --backend-store-uri sqlite:///mlflow_data/mlflow.db --default-artifact-root /mlflow_data/artifacts --host 0.0.0.0 --port 5001 --allowed-hosts "*"
    ports:
      - "5001:5001"
    volumes:
      - ./mlflow_data:/mlflow_data
    networks:
      - mlops-network

  api-serving:
    build:
      context: .
      dockerfile: src/serving/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow-server:5001
    volumes:
      - ./data:/app/data
      - ./src:/app/src
      - ./model_logs:/app/logs
      - ./mlflow_data:/Users/rafael/projects/machine-learning-tcc/mlflow_data
      - ./feature_store:/app/feature_store
    depends_on:
      - mlflow-server
    networks:
      - mlops-network

  frontend:
    build:
      context: ./src/frontend
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api-serving:8000
    depends_on:
      - api-serving
    networks:
      - mlops-network

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./monitoring/alert.rules.yml:/etc/prometheus/alert.rules.yml
    ports:
      - "9090:9090"
    networks:
      - mlops-network

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - mlops-network
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin

  model-monitor:
    build:
      context: ./src/monitoring
    environment:
      - PRODUCTION_LOGS_FILE=/app/logs/production_logs.jsonl
      - METRICS_PORT=8001
      - CHECK_INTERVAL=60
    volumes:
      - ./model_logs:/app/logs:ro
    ports:
      - "8001:8001"
    networks:
      - mlops-network

  redis:
    image: redis:7.0
    ports:
      - "6379:6379"
    networks:
      - mlops-network

  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    networks:
      - mlops-network

  airflow-init:
    build:
      context: .
      dockerfile: airflow/Dockerfile
    command: version
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - _AIRFLOW_DB_MIGRATE=true
      - _AIRFLOW_WWW_USER_CREATE=true
      - _AIRFLOW_WWW_USER_USERNAME=airflow
      - _AIRFLOW_WWW_USER_PASSWORD=airflow
      - _AIRFLOW_WWW_USER_PASSWORD=airflow
      - AIRFLOW__WEBSERVER__SECRET_KEY=this_is_a_very_secure_key_for_demo_purposes
    depends_on:
      - postgres
    networks:
      - mlops-network

  airflow-webserver:
    build:
      context: .
      dockerfile: airflow/Dockerfile
    command: webserver
    restart: always
    depends_on:
      postgres:
        condition: service_started
      airflow-init:
        condition: service_completed_successfully
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__SECRET_KEY=this_is_a_very_secure_key_for_demo_purposes
    ports:
      - "8080:8080"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./data:/opt/airflow/data
      - ./feature_store:/opt/airflow/feature_store
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - mlops-network

  airflow-scheduler:
    build:
      context: .
      dockerfile: airflow/Dockerfile
    command: scheduler
    restart: always
    depends_on:
      postgres:
        condition: service_started
      airflow-init:
        condition: service_completed_successfully
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      - AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__WEBSERVER__SECRET_KEY=this_is_a_very_secure_key_for_demo_purposes
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./data:/opt/airflow/data
      - ./feature_store:/opt/airflow/feature_store
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - mlops-network

volumes:
  shared_data:


networks:
  mlops-network:
    driver: bridge
