fastapi==0.104.1
uvicorn[standard]==0.24.0
scikit-learn==1.7.2
pandas==2.3.0
numpy==2.2.1
mlflow==3.1.0
deep-translator==1.11.4
pydantic==2.5.0
prometheus-fastapi-instrumentator==6.1.0
python-multipart==0.0.6
